<p><a href="/job/{{cluster.jobId}}">&laquo; Return to batch</a></p>

<h1>Image Comparison</h1>

<div class="process">
{{#if cluster.processed}}
    <p><strong>Already processed.</strong></p>
{{else}}
    <form action="/cluster/{{cluster._id}}" method="POST">
        <p><button type="submit">Mark as Processed</button></p>
    </form>
{{/if}}
</div>

<div class="comparison">
    {{#each artworks}}
        <div class="artwork">
            {{#if url}}
                <a href="{{url}}" target="_blank">
                    <img src="{{thumbUrl}}"/>
                </a>
            {{else}}
                <img src="{{thumbUrl}}"/>
            {{/if}}
            <div class="caption">
                {{#if url}}
                    <a href="{{url}}">{{id}}</a>
                {{else}}
                    {{id}}
                {{/if}}
            </div>
            {{#if data}}
            <div class="data">
            <form action="/data/update" method="POST">
                <input type="hidden" name="id" value="{{id}}"/>
                <input type="hidden" name="cluster" value="{{../cluster._id}}"/>
                <table>
                {{#each data}}
                    <tr>
                        <th>{{@key}}:</th>
                        <td><input type="text" name="data[{{@key}}]" value="{{this}}"/></td>
                    </tr>
                {{/each}}
                </table>
                <input type="submit" value="Update Data"/>
            </form>
            {{/if}}
            </div>
        </div>
    {{/each}}
</div>