<p><a href="/job/{{cluster.jobId}}">&laquo; Return to batch</a></p>

<h1>Image Comparison</h1>

<div class="process">
{{#if cluster.processed}}
    <p><strong>Already processed.</strong></p>
{{else}}
    <form action="/cluster/{{cluster._id}}" method="POST">
        <p><button type="submit">Mark as Processed</button></p>
    </form>
{{/if}}
</div>

<div class="comparison">
    {{#each artworks}}
        <div class="artwork" id="{{id}}">
            {{#if url}}
                <a href="{{url}}" target="_blank">
                    <img src="{{thumbUrl}}"/>
                </a>
            {{else}}
                <img src="{{thumbUrl}}"/>
            {{/if}}
            <div class="caption">
                {{#if url}}
                    <a href="{{url}}">{{id}}</a>
                {{else}}
                    {{id}}
                {{/if}}
                <br/>
                <label>
                    <input type="radio" name="copyThis" value="{{id}}" {{#if @first}}checked{{/if}}/>
                    Copy from this record.
                </label>
            </div>
            {{#if data}}
            <div class="data">
            <form action="/data/update" method="POST">
                <input type="hidden" name="id" value="{{id}}"/>
                <input type="hidden" name="cluster" value="{{../cluster._id}}"/>
                <table>
                {{#each data}}
                    <tr>
                        <th>{{@key}}:</th>
                        <td>
                            <input type="text" name="data[{{@key}}]" class="data[{{@key}}]" value="{{this}}"/>
                            <button class="paste" data-copy-from="data[{{@key}}]" type="button">&laquo; Paste</button>
                        </td>
                    </tr>
                {{/each}}
                <tr>
                    <th>Notes:</th>
                    <td><textarea name="data[notes]">{{notes}}</textarea></td>
                </tr>
                </table>
                <center>
                    <input type="submit" value="Update Record Data"/>
                </center>
            </form>
            {{/if}}
            </div>
        </div>
    {{/each}}
</div>

<script>
var copyElem = function() {
    var radios = document.getElementsByName("copyThis");
    for (var i = 0; i < radios.length; i++) {
        if (radios[i].checked) {
            return document.getElementById(radios[i].value);
        }
    }
};

var paste = document.getElementsByClassName("paste");
for (var i = 0; i < paste.length; i++) (function(elem) {
    elem.addEventListener("click", function() {
        var fieldName = elem.getAttribute("data-copy-from");
        var copyField = copyElem().getElementsByClassName(fieldName)[0];
        var pasteField = elem.parentNode.getElementsByClassName(fieldName)[0];
        pasteField.value = copyField.value;
    });
})(paste[i]);
</script>