<h1>{{title}}</h1>

<form action="/job/new" method="POST" enctype="multipart/form-data">
    <input type="file" name="zipFile"/>
    <button type="submit">Upload</button>
</form>

{{#if jobs}}
    <h2>Jobs</h2>
    <ul>
    {{#each jobs}}
        {{#if this.completed}}
        <li class="{{#if this.processed}}processed{{/if}}"><a href="/job/{{this._id}}">{{this._id}} ({{this.imageCount}} images)</a></li>
        {{else}}
        <li>{{this._id}} ({{this.imageCount}} images) (Processing...)</li>
        {{/if}}
    {{/each}}
    </ul>
{{/if}}