<h1>{{title}}</h1>

<form action="/job/new" method="POST" enctype="multipart/form-data">
    <input type="file" name="zipFile"/>
    <button type="submit">Upload</button>
    <p class="instructions">
        Please provide a <code>.zip</code> file with <code>.jpg</code> files inside of it.<br/>
        The files should have a unique name corresponding to the specified artwork record.
    </p>
</form>

{{#if jobs}}
    <h2>Batches</h2>
    <ul class="jobs">
    {{#each jobs}}
        {{#if this.completed}}
        <li class="job{{#if this.processed}} processed{{/if}}">
            <a href="/job/{{this._id}}" class="title">{{this._id}}</a>
            <span class="extra">({{this.imageCount}} images{{#if this.processed}}, Processed.{{/if}})</span>
            <br/><span class="date">{{this.date}}</span>
        </li>
        {{else}}
        <li class="job">
            <span class="title">{{this._id}}</span>
            <span class="extra">({{this.imageCount}} images) (Processing...)</span>
            <br/><span class="date">{{this.date}}</span>
        </li>
        {{/if}}
    {{/each}}
    </ul>
{{/if}}