<h1>Job: {{job._id}} ({{job.imageCount}} images)</h1>

{{#if job.processed}}
    <p class="processed">Entire job has been processed.</p>
{{/if}}

<ul>
{{#each job.images}}
    <li class="image">
        <img src="/images/{{fileName}}.jpg"/>
        <div class="caption">{{fileName}}</div>
    </li>
{{/each}}
</ul>

<ul>
{{#each clusters}}
    <li class="cluster {{#if this.processed}}processed{{/if}}">
    {{#each this.images}}
        <div class="image">
            <img src="{{url}}"/>
            <div class="caption">{{fileName}}</div>
        </div>
    {{/each}}
    <div class="process">
    {{#if this.processed}}
        <span class="processed">(Already processed.)</span>
    {{else}}
        <form action="/jobs/{{../job._id}}/process/{{this._id}}" method="POST">
            <button type="submit">Make as Processed</button>
        </form>
    {{/if}}
    </div>
    </li>
{{/each}}
</ul>